acap
ZipFileDownloader
Hiru_iPadOS_SDK_base
hooks
keys.p12
platforms
plugins
android-release-keys.properties
www/track_key.js
config_tmp.xml
node_modules
builds/*
.gradle/
www/domain_overrides.css
www/domain_settings.js